.main-navigation {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0);
   padding: 40px 20px;
   z-index: 1;
}

@media(max-width:767px) {
   .main-navigation {
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: rgb(83, 81, 81);
      position: static;
   }
}

.main-navigation__inner {
   display: flex;
   align-items: center;
   justify-content: space-around;
   max-width: 1350px;
   margin: 0 auto;
}

.main-navigation__logo-link {
   text-decoration: none;
   color: white;
}

.main-navigation__logo-link-1 {
   display: flex;
   margin: 0;
   padding: 0;
   list-style: none;
   transition: 0.5s;
   transition-property: opacity, transform;
   font-family: 'Source Sans Pro', sans-serif;
}

.main-navigation__menu {
   display: flex;
   margin: 0;
   padding: 0;
   list-style: none;
   transition: 0.5s;
   transition-property: opacity, transform;
   font-family: 'Source Sans Pro', sans-serif;
}

@media(max-width: 991px) {
   .main-navigation__menu {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: white;
      flex-direction: column;
      justify-content: left;
      text-align: left;
      opacity: 0;
      pointer-events: none;
      transform: translatex(-50%);
   }
}

@media(max-width: 991px) {
   .main-navigation__menu--open {
      opacity: 1;
      pointer-events: unset;
      transform: unset;
      z-index: 2;
   }
}

.main-navigation__menu-back {
   padding-top: 30px 20px;
   text-decoration: none;
   display: none;
}

@media(max-width: 991px) {
   .main-navigation__menu-back {
      display: unset;
      border-bottom: 1px solid gray;
      color: gray;
      font-size: 20px;
      padding: 20px 20px;
   }
   .main-navigation__menu-back--image {
      border: none;
      padding-bottom: 0;
      padding-left: 0;
   }
}

.main-navigation__menu-item {
   margin-left: 40px;
   padding: 5px 0;
   font-size: 13px;
}

@media (max-width: 1199px) {
   .main-navigation__menu-item {
      margin-left: 30px;
   }
}

@media (max-width: 991px) {
   .main-navigation__menu-item {
      width: 100vw;
      padding: 30px;
      border-bottom: 1px solid gray;
      font-size: 20px;
      margin: 0;
      display: unset;


   }
}

.main-navigation__menu-item:hover {
   border-bottom: 1px solid white;
}

@media(max-width:991px) {
   .main-navigation__menu-item:hover {
      background: rgba(182, 170, 170, 0.171);
      border: 1px solid rgba(0, 0, 0, 0.178);
   }
}

.main-navigation__link {
   text-decoration: none;
   color: white;
}


@media (max-width: 991px) {
.main-navigation__link {
   color: rgb(114, 110, 110);
}
}
@media(max-width: 767px) {
   .main-navigation__link {
      color: rgb(114, 110, 110)
   }
}

.main-navigation__mobile-button {
   display: none;
}

@media (max-width: 991px) {
   .main-navigation__mobile-button {
      display: unset;
      background: none;
      border: none;
      padding: 0;
   }
}

@media (max-width: 991px) {
   .main-navigation__mobile-button-image {
      width: 25px;
   }
}