.main-banner {
   background: url("/main-banner/background.jpg");
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 80vh;
   width: 100%;
   text-align: center;
   display: flex;
   flex-direction: column;
   color: white;
   align-items: center;
   position: relative;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: 0;
}

.main-banner::after {
   content: "";
   position: absolute;
   background: rgba(0, 0, 0, 0.5);
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
}

.main-banner__header {
   text-transform: capitalize;
   font-family: 'Source Sans Pro', sans-serif;
   margin-top: 180px;
   font-size: 45px;
   z-index: 1;
   padding: 10px;
}

@media(max-width:767px) {
   .main-banner__header {
      display: block;
      font-size: 42px;
      margin-top: 80px;
   }
}

@media(max-width:570px) {
   .main-banner__header {
      display: block;
      font-size: 32px;
      margin-top: 80px;

   }
}

.main-banner__paragraph {
   z-index: 1;
   padding-bottom: 20px;
   margin-bottom: 30px;
   font-weight: 300;
   font-size: 14px;
   width: 40%;
   line-height: 1.6;
}

@media(max-width:767px) {
   .main-banner__paragraph {
      line-height: 2;
      margin-top: 0;
      margin-bottom: 0;
      width: auto;
   }
}
@media(max-width:570px) {
   .main-banner__header {
pa
   }

.main-banner__buttons {
   z-index: 1;
   font-size: 14px;
   display: flex;
   max-width: 1350px;
   margin: 0 auto;
}

.main-banner__button:hover {
   background: rgba(0, 0, 0, 0.5);
   transition: 0.3s;
}

@media(max-width:767px) {
   .main-banner__buttons {
      justify-content: space-evenly;
   }
}

.main-banner__button {
   color: white;
   text-decoration: none;
   padding: 10px;
   border: 2px solid rgb(221, 29, 29);
   margin-left: 15px;
}

@media(max-width:767px) {
   .main-banner__button {
      font-size: 16px;
   }
}

.main-banner__button-1 {
   background: rgb(214, 28, 28);
   padding-right: 30px;
   padding-left: 30px;
}

.main-banner__button-2 {
   padding-right: 20px;
   padding-left: 20px;
}