.work-gallery {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 50px 20px;
}
@media(max-width:)

.work-gallery__image {
   width: 320px;
   height: 320px;
   padding-right: 10px;
   padding-bottom: 10px;
}

@media(max-width:991px) {
   .work-gallery__image {
      padding-right: 0;
   }
}

@media(max-width: 767) {
   .work-gallery__image {
      padding-right: 0;
   }
}